<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h1>Message Details</h1>

  <p><strong>From:</strong> <%= message.user %></p>
  <p><strong>Message:</strong> <%= message.text %></p>
  <p><small><strong>Date:</strong> <%= message.added.toLocaleString() %></small></p>

  <a href="/">â† Back</a>
</body>
</html>
